<div class="card" style="width: 18rem;">
    <img src="<%= employe.image %>" class="card-img-top" alt="<%= employe.nom %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= employe.nom %>
        </h5>
        <p class="card-text">
            prenom:<%= employe.prenom %>.
        </p>
        <p class="card-text">
            role:<%= employe.role %>
        </p>
         <p class="card-text">
            date_embauche:<%= employe.date_embauche %>
        </p>
    </div>
    </div>
    <div class="card-footer"> 
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-success">Profile</button>
    </div>

</div>