<div class="card" style="width: 18rem;">
    <img src="<%= article.image %>" class="card-img-top" alt="<%= article.titre %>">
    <div class="card-body">
        <h5 class="card-title">
            Titre:<%= article.titre %>
        </h5>
        <p class="card-text">
            status:<%= article.status %>.
        </p>
        <p class="card-text">
            identifiant de l'auteur:<%= article.id_auteur %>
        </p>
        <p class="card-text">
            identifiant de la categorie:<%= article.id_categorie %>
        </p>
    </div>
    </div>
    <div class="card-footer"> 
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-success">Profile</button>
    </div>

</div>