<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Modifier une categorie' }) %>
    <body>
        <%- include('../partials/header') %>
            <main class="wrapper">
                <h1>Modfier une categorie</h1>
                <form action="/categories/<%= categorie.id_categorie %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="nom_categorie" class="form-label">nom_categorie</label>
                        <input required type="text" class="form-control" id="nom_categorie" name="nom_categorie" value="<%= categorie.nom_categorie %>" placeholder="Entrez le nom de la categorie">
                    </div>
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= categorie.description %>">
                    </div>
                    <button class="btn btn-success" type="submit">Modifier</button>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>
</html>