<div class="card" style="width: 18rem;">
    <img src="<%= auteur.image %>" class="card-img-top" alt="<%= auteur.nom %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= auteur.nom %>
        </h5>
        <p class="card-text">
            prenom:<%= auteur.prenom %>.
        </p>
        <p class="card-text">
            nationalite:<%= auteur.nationalite %>
        </p>
         <p class="card-text">
            langue:<%= auteur.langue %>
        </p>
    </div>
    </div>
    <div class="card-footer"> 
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-success">Profile</button>
    </div>

</div>